<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button {
            padding: 20px;
            background-color: deepskyblue;
            font-size: 20px;
            border: none;
        }
        a {
            text-decoration: none;
            color: black;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple chat</title>
</head>
<body>
    <button><a href="/start">Start app</a></button>
</body>
</html>